#root {
  display: flex;
}

.reneimg {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top:0;
  left:0;
}

#rene-container{
  width: 40%;
  padding-top: 40%;
  position: relative;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 80px;
}

li {
  font-size: 15px;
  margin-right: 10px;
}

li a {
  display:block;
  color: #896bff;
  text-align: center;
  /* padding: 0px 10px 0px 60px; */
  text-decoration: none;
}

li a:hover {
  font-weight: 900;
}

#nav-container-solid, #nav-container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 15px 20px 20px 20px;
  /* overflow: hidden; */
  align-items: center;
  /* justify-content: flex-start; */
  width: auto;
}

#nav-container-solid {
  background-color: #896bff;
}

#nav-container {
  background-color: #faf9ff;
}

/* #nav-container h1, #nav-container-solid h1{
  padding: 0px 0px 0px 0px;
  margin: 5px 0px 0px 48px;
  color: #896bff;
  font-size: 25px;
  text-decoration: none;
} */

/* #nav-container-solid h1{
  padding: 0px 0px 0px 0px;
  margin: 5px 0px 0px 48px;
  color: white;
  font-size: 25px;
}

#nav-container h1{
  padding: 0px 0px 0px 0px;
  margin: 5px 0px 0px 48px;
  color: #896bff;
  font-size: 25px;
  text-decoration: none;
} */

#nav-container-solid li a, #nav-container-solid h1 a {
  display:block;
  color: white;
  text-align: center;
  /* padding: 0px 10px 0px 60px; */
  text-decoration: none;
  align-items: center;
}

/* #nav-container-solid h1 a {
  display:block;
  color: white;
  text-align: center;
  padding: 0px 10px 0px 60px;
  text-decoration: none;
} */

#nav-container-solid button p a {
  color: #896bff;
}

#nav-container li,
#nav-container-solid li {
  float: left; 
}


#nav-container h1 a, #nav-container-solid h1 a  {
  color: #896bff;
  font-size: 25px;
  text-decoration: none;
}

#nav-container h1 a  {
  color: #896bff;
}

#nav-container-solid h1 a {
  color: white;
}

#nav-btn p, #nav-btn-solid p {
  font-size: 14px;
}

button {
  background-color: #faf9ff;
  font-size: 16px;
  border-radius: 100px;
  border: none;
  transition-duration: .4s;
  /* padding: 8px 24px 8px 24px; */
  font-size: 20px;
  color: #896bff;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  /* min-height: 48px;
  min-width: 48px; */
  cursor: pointer;
  height: auto;
}

button:hover {
  background-color: #149678;
  color: white;
}

#nav-btn button {
  background-color: #faf9ff;
}

#nav-left{
  display: flex;
  align-items: center;
  width: auto;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100vw;
}


/* .fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
  
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  margin-top: 10px;
} */

section {
    background-color: #faf9ff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 20px 0px;
    width:100vw;
}

section.about{

  /* align-items: start; */
  flex-direction:row;
  /* justify-content: start;   */
  background-color: #faf9ff;
  margin-right:auto;
  margin-left:auto;
  width:90vw;
}

section.about > div {
  background-color: #faf9ff;
}

section.home {
  background-color: #faf9ff;
  padding-top: 180px;
  width:100vw;
}

.home-text{
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  margin-top:20px;
  margin-bottom:20px;
}

section.projects {
  background-color: #faf9ff;
  margin-right:auto;
  margin-left:auto;
  display: flex;
  width: 100vw;
  padding: 100px 20px 0px 0px;
}

section.projects p {
  padding: 0px 40px 0px 40px;
}

p {
  font-size: 18px;
  text-align: center;
}

h2 {
  font-size: 57px;
  text-align: center;
  margin:0;
  color: #7055f8;
}

h3, #modal-left h3 {
  font-size: 30px;
  text-align: center;
  color: #7055f8;
}

#modal-left h3 {
  text-align: start;

}

h4 {
  font-size: 30px;
  text-align: center;
  margin:0;
}

.name-tag {
  margin-bottom: 0px;
  margin-top: 100px
}


button {
  background-color: #896bff;
  font-size: 16px;
  border-radius: 100px;
  border: none;
  transition-duration: .4s;
  padding: 8px 24px 8px 24px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  min-height: 48px;
  min-width: 48px;
  cursor: pointer;
}

button:hover {
  background-color: #149678;
  color: white;
}

button a {
  color: white;
  text-decoration: none;
}



.center{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  margin-left:10px;
  margin-bottom: 30px;
  flex-direction: column;
}

.center p {
  line-height: 28px;
}

#man-avatar{
  max-width: 90%;
  height: auto;
}

#link{
  font-size: xx-small;
  color: white;
}

#carousel-text{
  margin-top: 10px;
  font-size: 18px
}

.logo{
  height: 150px;
  
}

.slide {
  animation: scroll ;
}

#card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  border-radius: 20px;
  background: rgb(233, 241, 228); 
  top: 50px;
  padding: 1rem;
  margin-bottom: 100px;
  margin: 10px;
}

#card > div > p {
  font-size: 16px;
  padding-right: 20px;
  padding-left:20px;
  line-height: 150%;
}

#card-header {
  width: 100%;
  height: 150px;
  border-radius: var(--spacing-12) var(--spacing-12) 0px 0px;
  margin-bottom: var(--spacing-16);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#card-header img {
  max-width: 100%;
}

.cards{
  display: flex;
  justify-content: center;
  max-width: 90%;
  padding-right: 90px;
  padding-left: 90px;
  flex-wrap: wrap;
  margin-top: 30px;
}

#logos{
  justify-content: center;
  padding: 20px 0px 10px 0px;
  height: 60px;
}

#project-btn{
  margin: 20px 0px 30px 0px;
}

#tagline{
  height: 150px;
}

#resume {
  max-width: 75%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 150px;
}

#bio{
  display: flex;
  flex-direction: column;
  width: 40%;
}

#bio p, #bio h3 {
  text-align: start;
}

#bio div {
  margin-top: 40px;
}

#numbers{
  background-color: #e3dcf9;
  width: 100vw; 
  height: 250px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  /* justify-content: center;
  gap: 200px; */
  
}

#numbers h3{
  margin-bottom: 0px;
}

.bg{
  background-color: white;
  margin-bottom: 150px;
}

.modal{
  display:block;
  position:fixed;
  z-index: 1;
  left: 0;
  top:0;
  width: 100%;
  height:100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content{
  background-color: #fefefe;
  margin: 5% auto;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  flex-direction: row;
  padding: 50px 30px 50px 50px;
  flex-direction: column;
  background-color: #f5f4f8;  
}

.modal-top{
  display: flex;
}

#modal-left{
  width: 50%;
  padding:0px 20px 0px 0px;
  margin: 60px 0px 0px 0px;
}


#modal-left h4 {
  text-align: start;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5em;
}

#modal-left p {
  text-align: start;
  padding:0;
  font-size: 10px;
}


#modal-right{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#modal-right img{
  height: 400px;
  max-width: 90%;
  object-fit: scale-down;
  background-color: #f5f4f8;
}

.close {
  cursor: pointer;
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

#features ul li {
  font-size: 15px;
}

#tech p {
 text-align: start;
 padding:0;
}

.project-links{
  display:flex;
  justify-content: end;
  align-items: end;
  gap: 20px;
}

i{
  font-size: 30px;
  color:black;
}

i:hover{
  font-size: 30px;
  color:#7055f8;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: black;
  color:white;
  text-align: center;
  border-radius: 6px;
  padding: 5px ;
  position: absolute;
  z-index: 1;
  font-size: 15px;
  font-style: normal;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

a {
  cursor: pointer;
}

#features {
  margin-top: 50px;
}

#features-bg{
  background-color: #7055f8;
}

#features-bg h4{
  color: white;
}

@counter-style thumbs {
  system: cyclic;
  symbols: "\1F44D";
  suffix: " "
}

ul.features-list{
  list-style-type: thumbs;
}

.bold {
  font-weight: bold;
}

.number{
  width: 150px;
  padding: 0px 20px 0px 20px;
  margin-right: auto;
  margin-left:auto;
}

#icons i{
  margin-right: 20px;
}


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");