body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  width: 100vw;
}

html {
  height: 100%;
  margin: 0;
  background-color: #faf9ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root p, h4, #features ul li{
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; 
  font-weight: 300;
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}
